<div class="header-container"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
 
   <div class="site-name">NH Tea and More</div>
   
   <div class="header-bar">
      <th:block sec:authorize="isAuthenticated()">
         
         <th:block th:if="${#request.userPrincipal != null}">
         	<a th:href="@{/admin/accountInfo}" th:utext="${#request.userPrincipal.name}">..</a>
         </th:block>
         &nbsp;|&nbsp;	
         <a th:href="@{/admin/logout}">Logout</a>
      </th:block>
       
      <th:block sec:authorize="!isAuthenticated()">
         <a th:href="@{/admin/login}">Login</a>
      </th:block>
   </div>
   
</div>