<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8">
      <title>Tea Shop Online</title>
      <link rel="stylesheet" type="text/css" th:href="@{/styles.css}" />
   </head>
   <body>
      <th:block th:include="/_header"></th:block>
      <th:block th:include="/_menu"></th:block>
       
      <div class="page-title">TRÀ SỮA VÀ NHIỀU HƠN THẾ NỮA</div>
      <div></div>
      <div></div>
      <img src="https://znews-photo.zadn.vn/w660/Uploaded/wyhktpu/2016_09_27/_MG_8024__12.jpg"  />
      <th:block th:include="/_footer"></th:block>
       
   </body>
</html>